.flex-container {
    display: flex;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}
.box { 
        display: flex;
        width: 300px;
        height: 200px;
        background-color: steelblue;
        opacity: 90%;
        border: 1px solid gray;
        border-radius: 15px;
        justify-content: center;
}
.box h2{
    color: orange;
    text-align: center;
}
h1 {
    color: steelblue;
}